<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Denied</title>

    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-color: #f7f7f7;
        }

        .container {
            width: 100%;
            max-width: 400px;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            text-align: start;
        }
    </style>

</head>
<body>
    <div class="container">
        <h2>Access Denied!</h2>
        <p>You do not have permission to use this feature.</p>
        <p style="width: 100%; text-align: center; margin-top: 16px;"><a href="/taskitem/list">Back to home</a></p>
    </div>
</body>
</html>

