<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <link href="../css/site.css" rel="stylesheet" />
    <link href="../css/toastify.min.css" rel="stylesheet" />

</head>

<body>
    <div class="container">
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="logo-group">
                <img src="../icons/dummy-logo.svg" alt="">
                <h1>CODE</h1>
            </div>
            <ul>
                <li onclick="location.href='/taskitem/list'" class="menu-item" id="Menu_ListTask"><img src="../icons/task.svg" alt=""><a href="#">Task list</a></li>
                <li onclick="location.href='/user/list'" class="menu-item" id="Menu_ListUser"><img src="../icons/user.svg" alt=""><a href="#">User</a></li>
                <li onclick="location.href='../auth/login.html'"><img src="../icons/logout-1.svg" alt=""><a href="#">Log out</a></li>
            </ul>
        </div>

            @RenderBody()

    @await RenderSectionAsync("Scripts", required: false)
    </div>

    <script>
        // Bỏ trạng thái active của tất cả menu item
        var menuItems = document.getElementsByClassName("menu-item");

        for (var i = 0; i < menuItems.length; i++) {
            menuItems[i].classList.remove("active");
        }

        // Thêm trạng thái active ở trang hiện tại
        document.getElementById(ActiveMenu).classList.add("active");

    </script>

    <script src="../js/toastify-js.js"></script>

</body>
</html>
